html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas: "header" 
                         "header"
                         "header"
                         "main"
                         "main"
                         "main"
                         "main"
                         "main"
                         "main"
                         "main"
                         "main"
                         "main"
                         "main"
                         "main"
                         "footer"
                         "footer"  ;
    grid-template-rows: repeat(16, 6.25%);
    height: 100vh;
    background: url(../images/bg-desktop.png.svg) no-repeat center hsl(257, 40%, 49%);
    background-size: cover;
}

/* HEADER */
.header {
    grid-area: header;
}
.header-content {
    display: flex;
    height: 100%;
    padding-left: 5%;
}
.header-content img {
    height: 34.7%;
    align-self: center;
}

/* MAIN */
.main {
    grid-area: main;
}
.main-content {
    display: flex;
    align-items: center;
    height: 100%;
}
.main-content .info-main {
    padding: 0 5% 0 3%;
}
.main-content .info-main h1 {
    font-size: 4.5rem;
}
.main-content .info-main p {
    font-size: 1.95rem;
    margin: 5% 0 10% 0;
}
.main-content .info-main a {
    padding: 3% 15%;
    background-color: #fff;
    border-radius: 30px;
    font-size: 2rem;
    color: hsl(257, 40%, 49%);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.main-content .info-main a:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}
.main .main-content img {
    height: 80%;
    padding: 0 0 0 5%;
}


/* FOOTER */
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 100%;
}
.footer-items {
    font-size: 2.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 10%;
    margin-right: 5%;
}
.footer-items .insta-item, .tt-item, .face-item {
    border: solid 1px #fff;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.footer-items li:last-child, li:nth-child(2) {
    margin-left: 10%;
}
.footer-items .insta-item{
    padding: 12px 12px 10px 12px;
}
.footer-items .insta-item:hover {
    padding: 12px 12px 10px 12px;
}
.footer-items .tt-item {
    padding: 12px 10px 10px 10px;
}
.footer-items .tt-item:hover {
    padding: 12px 10px 10px 10px;
}
.footer-items .face-item {
    padding: 12px 16px 11px 15px;
}
.footer-items .face-item:hover {
    padding: 12px 16px 11px 15px;
}
.footer-items .insta-item:hover, .tt-item:hover, .face-item:hover{
    border-radius: 40px;
    border: solid 1px hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}
.footer .attribution {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2%;
    font-size: 1.4rem;
    margin-left: 5%;
}
.attribution .fe-mentor, .promotion {
    color: #e6d4e588;
}
.attribution .fe-mentor:hover {
    color: hsl(241, 67%, 39%);
    font-weight: 700;
}
.attribution .promotion:hover {
    color: hsl(120, 62%, 53%);
    font-weight: 700;
}